.container{
    height: 100%;
    width: 100%;
    background-color: #0077FE;
}
.buttons button{
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}