

  <div class="container">
    <div>
  <div style="margin-top: 100px">
<h1 style="font-size: 44px;margin-left: 120px;color: white">Dr.apP</h1>
</div>
<ion-card style="background-color: white">
<ion-item>
  <ion-label><ion-icon name="person"></ion-icon></ion-label>
  <ion-input type="text" placeholder="Username"></ion-input>
</ion-item>
<ion-item>
  <ion-label><ion-icon name="key"></ion-icon></ion-label>
  <ion-input type="password" placeholder="password"></ion-input>
  <ion-icon name="eye" item-end></ion-icon>
</ion-item>
<button style="height: 50px;width:50%;background-color:black;color:white">LOGIN</button>
<button (click)="NavToSignup()" style="height: 50px;width:50%;background-color:black;color:white">SIGNUP</button>
</ion-card>
<h5 text-center>OR</h5>
<!--
<div class="buttons">
  <button size="full" style="color:#3b5998;background-color: white;height: 50px;width: 100%;margin-bottom:5px;"><ion-icon style="padding-right:2px" name="logo-facebook"></ion-icon> Login Via facebook</button>
  <button size="full" style="color: #db3236;background-color: white;height: 50px;width: 100%"><ion-icon style="padding-right:2px" name="logo-google"></ion-icon> Login Via Google</button>

</div> -->

<div style="margin-top: 15px">
  <h6 text-center style="color:white">Login with</h6>
  <button style="height: 50px;width:50%;background-color:black;color:#0077FE;font-size: 19px"><ion-icon name="logo-facebook"></ion-icon>Facebook</button>
<button style="height: 50px;width:50%;background-color:black;color:#db3236;font-size: 19px"><ion-icon name="logo-google"></ion-icon> Google</button>
</div>

<a style="color:white;margin-left: 130px;line-height: 100px">Forgot password?</a>

