.dp-containter{
    height: 40%;
    width: 100%;
    background-color: #0077FE;
    position: fixed;
}
.p-img{
    height: 100px;
    width: 100px;
    background-color: white;
    margin-left: 140px;
    margin-top: 40px;
    border-radius: 50%;

}
#settings{
    background-color: transparent;
    font-size: 24px;
    color: white;
    margin-top: 40px;
    margin-right: 20px;
}